<link rel="stylesheet" href="/styles/homepage.css">

<h1>Local Meow</h1>
<p class="text-muted tagline">meet shelter cats in your area</p>


<a class="welcomelink" href="/signup">Sign Up</a>
<a class="welcomelink" href="/login">Log In</a>
