<link rel="stylesheet" href="/styles/index.css">

<ul>
  <li class="title"><a href="#">Seattle Shelter Cats</a></li>
  <li><a href="#">Your Favorites</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<div class="catprofile">
  <img class="profilepic" src= <%= res.locals.searchresults[res.locals.current_index]["image"] %> >
  <br>
  <p class="profilename"><%= res.locals.searchresults[res.locals.current_index]["name"] %></p>
  <br>
  <a class="button nextlink" href="/cats/1">Next</a>
</div>


<%= res.locals.current_index %>
