<h1>All the cat data goes here</h1>

  <div class="catprofile">
    <img class="profilepic" src= <%= res.locals.searchresults[0]["image"] %> >
    <br>
    <%= res.locals.searchresults[0]["name"] %>
    <br>
    <a class="nextlink" href="#">Next</a>
  </div>

<!-- <% for (var i = 0, len = res.locals.searchresults.length; i < len; i++) { %>
  <div class="catprofile">
    <img src= <%= res.locals.searchresults[i]["image"] %> >
    <br>
    <%= res.locals.searchresults[i]["name"] %>
    <br>
    <a class="nextlink" href="#">Next</a>
  </div>
<% } %> -->
