<link rel="stylesheet" href="/styles/index.css">

<ul>
  <li><a href="#">Log In/Sign Up</a></li>
  <li><a href="#">Favorites</a></li>
</ul>

  <div class="catprofile">
    <img class="profilepic" src= <%= res.locals.searchresults[0]["image"] %> >
    <br>
    <p class="profilename"><%= res.locals.searchresults[0]["name"] %></p>
    <br>
    <a class="button nextlink" href="#">Next</a>
  </div>

<!-- <% for (var i = 0, len = res.locals.searchresults.length; i < len; i++) { %>
  <div class="catprofile">
    <img src= <%= res.locals.searchresults[i]["image"] %> >
    <br>
    <%= res.locals.searchresults[i]["name"] %>
    <br>
    <a class="nextlink" href="#">Next</a>
  </div>
<% } %> -->
