<link rel="stylesheet" href="/styles/welcome.css">

<h1 id="smallerh1">Seattle Shetler Cats</h1>

<div class="form-style-6">
  <h2 id="loginTitle">Log In</h2>
  
  <form method="POST" action="/login">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="submit" value="submit">
  </form>
</div>
