
<div class="container-fluid zipsearch">

  <div class="row">
    Enter a zip code to search for local shelter cats.
  </div>

  <br><br>

  <div class="row">
    <form class="form-inline" onsubmit="location.href='/cats/' + document.getElementById('zip').value + '/0' + '/0'; return false;">
      <div class="form-group">
        <label class="sr-only" for="zipcode">Zip Code</label>
        <input type="text" class="form-control" id="zip" placeholder="Zip Code">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>
