<h1> Search </h1>

<form onsubmit="location.href='/cats/' + document.getElementById('zip').value + '/0' + '/0'; return false;">
  Zip Code:<br>
  <input type="text" id="zip" />
  <input type="submit" />
</form>
