.bottomdiv {
  background-color: rgba(255, 255, 255, 0.50);
  text-align: center;
}

/*html {
  background: url("/images/onecat.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

html {
  background-image: url("/images/onecat.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

h1 {
  font-family: 'Nixie One', cursive;
  font-size: 6rem;
}

.tagline {
  font-family: 'Nixie One', cursive;
  font-style: italic;
  font-size: 2rem;
}

.welcomelink {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #096778;
  padding-right: 6vw;
  padding-left: 6vw;
  font-size: 3rem;
}

.welcomelink:hover {
  color: #58A8B7;
}
