html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  min-height:100%;
}

body {
    background-color: #FFFFFF;
    background-image: url("/images/onecat.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bottomdiv {
  background-color: rgba(255, 255, 255, 0.50);
  text-align: center;
}

h1 {
  font-family: 'Nixie One', cursive;
  font-size: 6rem;
}

.tagline {
  font-family: 'Nixie One', cursive;
  font-style: italic;
  font-size: 2rem;
}

.welcomelink {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #096778;
  padding-right: 6vw;
  padding-left: 6vw;
  font-size: 3rem;
}

.welcomelink:hover {
  color: #58A8B7;
}
