body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.zipsearch {
  /*HAVE THIS MATCH THE CAT PROFILE DIV*/
  background-color: #EE3724;
  padding: 4rem;
  width: 60%
}

.catprofile .profilepic {
  height: 40rem;
  width: auto;
}
