body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}


/*html {
  background: url("/images/onecat.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*TRY THIS LAST THEN GIVE UP!*/
body {
  background: url("/images/onecat.jpeg") no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Nixie One', cursive;
}

.tagline {
  font-family: 'Nixie One', cursive;
  font-style: italic;
  font-size: 2.5vw;
}

input {
  margin-bottom: 1.5vw;
}

.bottomdiv {
  background-color: rgba(255, 255, 255, 0.50);
  text-align: center;
}
